#    This file is part of the ChannelAutoForwarder distribution (https://github.com/xditya/ChannelAutoForwarder).
#    Copyright (c) 2021 Adiya
#    
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU General Public License as published by  
#    the Free Software Foundation, version 3.
# 
#    This program is distributed in the hope that it will be useful, but 
#    WITHOUT ANY WARRANTY; without even the implied warranty of 
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
#    General Public License for more details.
# 
#    License can be found in < https://github.com/xditya/ChannelAutoForwarder/blob/main/License> .

# Do not copy the license into the .env file
# Do not use quotes (") in the values.

APP_ID= 2558987
API_HASH= 939e6e9a77a0b981a2fe21a9077648ea
BOT_TOKEN= 1683614224:AAG--sM8XPm36sRBDKt739jkXMF8uD9tpIM
FROM_CHANNEL= -1001386289448
TO_CHANNEL= -1001153600048
